.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.d-flex {
  display: flex;
}

#title {
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  text-align: center;
}

#searchBar {
  position: sticky;
  top: 0;
  margin: auto;
  padding: 8px 15px;
  width: 20%;
  align-items: center;
  justify-content: center;
  background-color: rgb(249, 249, 249);

  transition: width 0.3s;
}

#searchBox {
  font-size: 1.2rem;
  width: 100%;
  outline: none;
  border: none;
  background: none;
}

#searchButton {
  color: #757575;
  font-size: "1.5rem";
}

#imgQuality {
  width: 30%;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px auto;
}

#imgQuality div {
  background-color: black;
  width: 20%;
  padding: 5px;
  color: white;
  text-align: center;
}

#imgQuality div:hover {
  cursor: pointer;
}

#searchButton:hover {
  cursor: pointer;
}

#quickSearches {
  width: 50%;
  margin: 3% auto;
  align-items: center;
  justify-content: space-evenly;
}

.searchCategories {
  background-color: black;
  width: 17%;
  text-align: center;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
}

.searchCategories:hover {
  cursor: pointer;
}

#imgContainer {
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  justify-content: space-evenly;
}

#imgBox {
  width: 27%;
  margin: 10px 0px;
  /* border: 1px solid black; */
  flex-shrink: 0;
}


#imgBox>img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 100%;
}


@media (max-width : 1232px) {
  #imgContainer {
    width: 60%;
  }
}

@media (max-width : 1024px) {
  #imgContainer {
    width: 70%;
  }

  #quickSearches {
    width: 70%;
  }

  #imgQuality {
    width: 40%;
  }
}



/* Add a media query for medium-sized screens */
@media (max-width: 768px) {
  #imgContainer {
    width: 80%;
    /* Adjust the width as needed */
  }

  #imgBox {
    width: 40%;
    /* Two divs in a row */
  }

  #searchBar {
    width: 30%;
  }

  #imgQuality {
    width: 55%;
  }

  #imgQuality div {
    width: 25%;
  }
}

/* Add a media query for small screens */
@media (max-width: 576px) {
  #imgContainer {
    width: 80%;
    /* Full width, one div in a row */
  }

  #imgBox {
    width: 100%;
    /* One div in a row */
  }

  #quickSearches {
    flex-direction: column;
    /* width: 100%; */
  }

  .searchCategories {
    width: 100%;
    margin: 2px 0;
  }

  #searchBar {
    width: 65%;
  }

  #imgQuality {
    width: 100%;
  }

  #imgQuality span {
    display: none;
  }


}